@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model (Universe.Models.starsystem.StarSystem, List<Universe.Models.galaxy.Galaxy>)
<form method="post" action="@Url.Action("MoveStarSystemToAnotherGalaxy")">
	<label for="starsystemToMove">Star System:</label>
	<select name="starsystemToMove" id="starsystemToMove">
		@foreach (var starsystem in Model.Item2)
		{
			<option value="@starsystem">@starsystem.Name</option>
		}
	</select>
	<br />
	<label for="destinationGalaxy">Destination Galaxy:</label>
	<select name="destinationGalaxy" id="destinationGalaxy">
		@foreach (var galaxy in Model.Item2)
		{
			<option value="@galaxy">@galaxy.Name</option>
		}
	</select>
	<br />
	<input type="submit" value="Move Star System" />
</form>
