@model Universe.Models.ship.Ship

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ship</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShipName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShipName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShipModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShipModel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxSpeed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxSpeed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SingleChargeRange)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SingleChargeRange)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ShipId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
